body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(to right, #fefefe, #f9f9f9);
    color: #333;
    margin: 0;
    padding: 0;
}

h1.display-4 {
    font-weight: 700;
    color: rgb(73, 39, 173);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

p.lead {
    font-size: 1.3rem;
    color: rgb(255, 156, 156);
}

.card {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(14, 92, 19);
}

.card-text {
    color: rgba(0, 136, 120, 0.79);
}

.btn-primary {
    background-color: #4927ad;
    border: none;
    padding: 12px 25px;
    border-radius: 2rem;
    font-size: 1.1rem;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: rgb(30, 0, 122);
}

.btn-outline-primary {
    border: 2px solid #582ed3;
    color: #6032ea;
    padding: 12px 25px;
    border-radius: 2rem;
    font-size: 1.1rem;
    transition: 0.3s;
}

.btn-outline-primary:hover {
    background-color: #001c6a;
    color: #fff;
}

.alert-info {
    border-radius: 1rem;
    padding: 20px;
    background-color: #a8dadc;
    color: #1d3557;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

img {
    height: 200px;
    object-fit: cover;
}

.dashboard-card {
    text-decoration-color: #f9f9f9;
}

 .dashboard-card:hover {
    background-color: #f9f9f9;
    color: #582ed3;
}
 .btn-user {
     border-radius: 1rem;
     padding: 10px;
     background-color: #a8dadc;
     color: #1d3557;
     box-shadow: 0 4px 10px rgba(0,0,0,0.1);
 }